snippet fface "custom font"
@font-face {
  font-family: '$1';
  src: url('my-font-filename.eot');
  src: url('my-font-filename.eot?#iefix') format('embedded-opentype'),
  url('my-font-filename.svg#my-font-family') format('svg'),
  url('my-font-filename.woff') format('woff'),
  url('my-font-filename.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
endsnippet
